* {
    margin: 0px;
    padding: 0px;
    background-image: url(images/basic-background.jpg);     
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(5px);
    font-family: 'Roboto', sans-serif;
}

.MainTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 152px;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.630208) 99.99%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.MainButton{
    box-sizing: border-box;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.242731) 37.5%, rgba(255, 255, 255, 0.173639) 99.98%, rgba(255, 255, 255, 0.0753814) 99.99%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}