* {
  margin: 0px;
  padding: 0px;

  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
}
.MainTitle{
  font-size: 100px;
  line-height: 152px;
}