:root {
    --YellowButtonFont: white;
    --YellowButtonBackGround: #cf713e;
    --YellowButtonShadow: #61351d;
    --NightSky: #222224;
}

.basicButton{
    padding: 15px;
    border-radius: 5px;
    border-width: 0px;
    background-color: var(--YellowButtonBackGround);
    color: var(--YellowButtonFont);
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0px 8px 0px 0px var(--YellowButtonShadow);
}
.basicButton:hover{
    cursor: pointer;
}
.basicButton:active {
    transform: translateY(4px);
    box-shadow: 0px 4px 0px 0px var(--YellowButtonShadow);
}
.secondary{
    font-size: 16px;
    padding: 12px;
};