.basicButton{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
    box-sizing: border-box;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.242731) 37.5%, rgba(255, 255, 255, 0.173639) 99.98%, rgba(255, 255, 255, 0.0753814) 99.99%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    color: white;
    line-height: 29px;
    justify-content: center;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
}
.basicButton:hover{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.basicButton:active {
    background-color: azure;
    color: azure;
    color: black;
}
.secondary{
    color: orange;
    border-radius: 20px;
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
  };