.basicButton{
    box-sizing: border-box;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.242731) 37.5%, rgba(255, 255, 255, 0.173639) 99.98%, rgba(255, 255, 255, 0.0753814) 99.99%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.242731) 37.5%, rgba(255, 255, 255, 0.173639) 99.98%, rgba(255, 255, 255, 0.0753814) 99.99%, rgba(255, 255, 255, 0) 100%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 29px;

    width: 150px;
    padding: 10px;
    justify-content: center;
}
.basicButton:hover{
    background-color: azure;
    color: black;
}
.basicButton:active {
    color: blue;
}